*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}

/* general style */

body {
    background-color: rgba(214,219,216,255);
    
}

img{
    border-radius: 50%;
}
a{
    color: gray;
    font-size: 8px;
}
p{
    font-size: 15px;
    

}


main{
    background-color: rgba(215,219,215,255);
    max-width: 100%;
 
}
.main-box{
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin: 0px 100px 0px 100px; 
    padding: 20px;
    
}
.boxverde{
    width: 100%;
    height: 50px;
    background-color:rgba(0,150,136,255) ;
}

#app{
    background-color: #fff;
    
}

/* colonna sinistra */
#profile-box-container{
    background-color: rgba(234,234,234,255);
    padding: 15px;
    margin-bottom: 5px;
    
}
#text-box-container{
    padding: 15px;
    background-color: rgba(142,218,252,255);
    margin-bottom: 5px;
}
#text-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

#text-box p{
    margin-bottom: -10px;
}
#text-box a{
   color: gray;
   font-size: 10px;
}
#profile-box{
    display: flex;
    justify-content:space-between;
    align-items: center;
}
.icon-profile-box{
    color: rgba(177,177,177,255);
}
.fa-bell-slash{
    font-size: 30px;
    color: white;
    margin-right: 10px;
    margin-top: 10px;
}

#contacts-box{
  margin-top: 10px;
}
/* chat box style */
#chat-box{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-image: url("../img/WhatsApp_background.jpg");
    background-size: cover;
    background-position: center;
    overflow:scroll;
    height: 540px;
    
}
#contact-info-container{
    background-color: rgba(234,234,234,255);
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
  
#contact-info-container img{
    margin-right: 10px;
    border-radius: 50%;
}
.message{ 
    margin: 10px; 
    padding: 10px; 
    border-radius: 5px; 
}
.user-message{ 
    background-color: #4CAF50; 
    align-self: flex-end;
    color: #fff;
    max-width: 30%;
}

.contact-message{ 
    background-color: #fff;
    max-width: 30%;
    align-self: flex-start;
}

#textchat{
    background-color: rgba(234,234,234,255);
    padding: 5px;
}

.fa-face-smile{
    color: rgba(177,177,177,255);
    font-size: 20px;
    margin: 10px;
}
.fa-microphone{
    color: rgba(177,177,177,255);
    font-size: 20px;
    margin: 10px; 
}

