*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
   
}
img{
    border-radius: 50%;
}
main{
    background-color: rgba(215,219,215,255);
    
}
#greenContainer{
    background-color: rgba(0,150,136,255);
    max-width: 100%;
    height: 70px;
}

#app{
    background-color: #fff;
}
#profile-box-container{
    background-color: rgba(234,234,234,255);
    padding: 15px;
    
}
#text-box-container{
    padding: 15px;
    background-color: rgba(142,218,252,255);
}
#text-box{
display: flex;
justify-content: center;  
}
#profile-box{
    display: flex;
    justify-content:space-between;
}
.icon-profile-box{
color: rgba(177,177,177,255);
}

a{
    color: gray;
    font-size: 8px;
}
p{
    font-size: 12px;
    

}
.fa-bell-slash{
    font-size: 30px;
    color: white;
    margin-right: 10px;
}

#contacts-box{
  margin-top: 10px;
}
/* chat box style */
#chat-box{
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-image: url("./img/WhatsApp_background.jpg");
    background-size: cover;
    background-position: center;
}
#contact-info-container {
    background-color: #f0f0f0;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  #contact-info-container img {
    margin-right: 10px;
    border-radius: 50%;
  }
.message{ 
    margin: 10px; 
    padding: 10px; 
    border-radius: 5px; 
}
.user-message{ 
    background-color: #4CAF50; 
    align-self: flex-end;
    color: #fff;
    max-width: 20%;
}

.contact-message{ 
    background-color: #fff;
    max-width: 20%;
    align-self: flex-start;
}

