<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue-boolzapp</title>
    <!-- link css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- link bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <!-- link font awasome -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/js/all.min.js"></script>


</head>
<body>
    <!-- script vue.js -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
 <header>
    <div class="boxverde">
        
    </div>
 </header>

 <main>
    <section class="main-box">
    
        <!-- Main Content -->
        <div  id="app" class="container mt-4">
            <div class="row">
    
            <!-- Colonna sinistra (1/3) -->
                <div class="col-md-4">
                        <!-- box con profilo e icone -->
                        <div id="profile-box-container">
                            <div id="profile-box">
                                <img src="img/avatar_io.jpg" alt="" width="30" height="30">
                                    <div class="icon-profile-box">
                                        <i class="fa-solid fa-circle-notch"></i>
                                        <i class="fa-solid fa-message"></i>
                                        <i class="fa-solid fa-ellipsis-vertical"></i>
                                    </div>
                            </div>
                        </div>
                    

                    <!-- box azzurro con avviso -->
                    <div id="text-box-container">
                        <div id="text-box">
                            <div id="campana">
                                <i class="fa-regular fa-bell-slash"></i>
                            </div>
                            <div>
                                <p>Ricevi notifiche di nuovi messaggi</p>
                                <p><a href="">premi per attivare</a></p>
                            </div>
                        </div>
                    </div>

                    <!-- box con lista contatti e barra di ricerca-->
                    <div>
                        <input type="text" class="form-control mb-2" v-model="search" placeholder="Cerca contatti">
                        <div class="list-group">
                            <button v-for="contact in filteredContacts" :key="contact.name" type="button" class="list-group-item list-group-item-action" @click="selectContact(contact)">
                            <img :src="contact.avatar" alt="" width="30" height="30" class="mr-2">
                            {{ contact.name }}
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Colonna destra (2/3) -->
                
                <div class="col-md-8" v-if="activeContact">
                    <div>
                    <!-- Header chatbox-->
                            <div id="contact-info-container">
                                <div>
                                    <img v-if="activeContact" :src="activeContact.avatar" alt="Contatto" width="40" height="40">
                                    <span>{{ activeContact.name }}</span>
                                    <!-- <span>{{ formattedDate }}</span> -->
                                </div>
                                <div class="icon-profile-box">
                                    <i class="fa-solid fa-magnifying-glass"></i>
                                    <i class="fa-solid fa-link"></i>
                                    <i class="fa-solid fa-ellipsis-vertical"></i>
                                </div>
                            </div>
                        
                        <!-- chat box -->
                        <div id="chat-box">
                            <div v-for="message in activeContact.messages" :key="message.date" :class="{ 'message': true, 'user-message': message.status === 'sent', 'contact-message': message.status === 'received' }">
                                {{ message.message }}
                            </div>
                        </div>

                        <!-- barra chat -->
                        <div id="textchat" class=" text-white text-center">
                            <div class="input-group">
                                <i class="fa-solid fa-face-smile"></i>
                                <input type="text" class="form-control" v-model="newMessage" @keyup.enter="sendMessage" placeholder="Scrivi un messaggio">
                                <i class="fa-solid fa-microphone"></i>
                            </div>
                        </div>

                    </div>
                </div>
        
        </div>
    </section>
</main>

    <!-- script js -->
    <script src="js/script.js"></script>
</body>
</html>